/* styles.css */

/* Reset de márgenes y paddings */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    background-color: #fff;
    min-height: 100vh;
}

.pricing-container {
    text-align: center;
    max-width: 1200px;
    width: 100%;
}

.title {
    color: #2FB95D;
    font-size: 3rem;
    margin-bottom: 10px;
    font-weight: bold;
}

.subtitle {
    color: #555;
    font-size: 2rem;
    margin-bottom: 20px;
}

.description {
    color: #525252;
    font-size: 1.2rem;
    margin-bottom: 40px;
}

.plans {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.plan-background-black{
    background-color: #043A3A;
}

.plan-background-green{
    background-color: #2FB95D;
}


.plan {
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    position: relative; /* Necesario para posicionar correctamente la pestaña */
    z-index: 0; /* Asegura que el contenido del plan esté sobre la pestaña */
}

.plan:hover {
    transform: translateY(-10px);
}

.plan-header {
    padding: 10px 30px;
    color: #fff;
    text-align: center;
    position: absolute; /* Cambiado a absolute para un posicionamiento más controlado */
    top: -30px; /* Eleva la pestaña por encima del resto del contenedor */
    left: 50%; /* Asegura que la pestaña esté centrada horizontalmente */
    transform: translateX(-50%); /* Centra la pestaña respecto al contenedor */
    width: calc(60% + 20px); /* Aumenta el ancho de la pestaña para que sobresalga */
    border-top-left-radius: 15px; /* Redondea las esquinas superiores de la pestaña */
    border-top-right-radius: 15px;
    z-index: -1; /* Asegura que la pestaña esté detrás del resto del contenido */
}

.plan-header-green {
    background-color: #32a852;
}

.plan-header-black {
    background-color: #000;
}

.plan-package {
    font-size: 1.2rem;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.plan-name {
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
}

.plan-body {
    padding: 20px;
    text-align: start;
}

.plan-price {
    font-size: 3rem;
    color: #fff;
    margin-bottom: 5px;
    font-weight: bold;
}

.plan-period {
    font-size: 1rem;
    color: #fff;
    margin-bottom: 20px;
}

.plan-features {
    list-style: none;
    text-align: left;
    color: #fff;
    font-size: 1rem;
    line-height: 1.5;
}

.plan-features li {
    margin-bottom: 10px;
    padding-left: 20px;
    position: relative;
}

.plan-features li::before {
    content: "✔";
    position: absolute;
    left: 0;
    color: #fff;
    font-weight: bold;
}

.plan-footer {
    padding: 20px;
    text-align: center;
    border-radius: 0 0 10px 10px;
}

.btn {
    display: inline-block;
    padding: 12px 25px;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 5px;
    width: 100%;
}

.trial-btn {
    background-color: #fff;
    color: #000000;
}

.trial-btn:hover {
    background-color: #32a852;
    color: #fff;
}

.trial2-btn{
    background-color: #fff;
    color: #2FB95D;
}

.trial2-btn:hover {
    background-color: #000000;
    color: #fff;
}

.buy-btn {
    background-color: #fff;
}


