:root {
    --font-primary: 'Raleway', sans-serif;
    --font-secondary: 'Mulish', sans-serif;

    --white: #FFFFFF;
    --primary: #2FB95D;
    --primary-hover: #259a4b;
    --secondary:#043A3A;
    --fontcolor: #525252;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
}

img {
    max-width: 100%;
    height: auto;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 1.5rem;
}

p {
    font-size: 1rem;
}

.container {
    width: 90%;
    max-width: 75rem;
    margin: 0 auto;
    padding: 0 1rem;
}

.button {
    display: inline-block;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    background-color: var(--primary); /* Cambia el color según tu diseño */
    border: none;
    border-radius: 0.25rem;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: var(--primary-hover); /* Cambia el color según tu diseño */
}

.hero-section{
    display: flex;
    flex-direction: row;
}
.hero-section img{
    width: 40%;
    height: 550px;
    
}
.hero-section #img-movil{
    display: none;
}
.hero-text{
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding-left: 3rem;
    margin-left: auto;
    margin-right: auto;
    margin-top:1rem;
}
.hero-text h1{
    color: #043A3A;
    font-family: var(--font-primary);
}
.hero-text p{
    font-family: var(--font-secondary);
    color: var(--fontcolor);
}
.hero-text .buttons-hero{
    display: flex;
    flex-direction: row;
    width: 20rem;
    justify-content: space-between;
    
}
.hero-text .buttons-hero button{
    padding: 1rem;
    border-radius: 1.5rem;
    width: 9rem;
    border: none;
    color: white;
    cursor: pointer;
}
.hero-text .buttons-hero #get-started{
    background-color: #2FB95D;
}
.hero-text .buttons-hero #learn-more{
    background-color: #043A3A;
}

@media (max-width:768px){
    .hero-text h1{
        font-size: 3rem;
    }
}

@media (max-width:576px){
    .hero-text{
        width: 100%;
        text-align: center;
        align-items: center;
    }
    .hero-text .buttons-hero{

        width: 23rem;
        justify-content: space-between;
        
    }

    .hero-section{
        flex-direction: column-reverse;
    }
    .hero-section #img-desktop{
        display: none;
    }
    .hero-section #img-movil{
        display: block;
        width: 100%;
        height: auto;
        margin-top: 3rem;
    }
}