:root {
    --font-primary: 'Raleway', sans-serif;
    --font-secondary: 'Mulish', sans-serif;

    --white: #FFFFFF;
    --primary: #2FB95D;
    --primary-hover: #259a4b;
    --secondary:#043A3A;
    --fontcolor: #525252;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-family: var(--font-primary);
}
a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
}

img {
    max-width: 100%;
    height: auto;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 1.5rem;
}

p {
    font-size: 1rem;
}

.container {
    width: 90%;
    max-width: 75rem;
    margin: 0 auto;
    padding: 0 1rem;
}

.button {
    display: inline-block;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    background-color: var(--primary); /* Cambia el color según tu diseño */
    border: none;
    border-radius: 0.25rem;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: var(--primary-hover); /* Cambia el color según tu diseño */
}

.features {
    text-align: center;
}

.features__description-title {
    color: var(--primary);
}

.features__title--secondary-color {
    color: var(--secondary);
}


.features__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 16px;
}

.features__card {
    width: 200px;
    height: 200px;
    border-radius: 8px;
}

.card--text {
    color: #fff;
    background-color: var(--primary);
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 8px;
}