:root {
    --font-primary: 'Raleway', sans-serif;
    --font-secondary: 'Mulish', sans-serif;

    --white: #FFFFFF;
    --primary: #2FB95D;
    --primary-hover: #259a4b;
    --secondary:#043A3A;
    --fontcolor: #525252;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
}

img {
    max-width: 100%;
    height: auto;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 1.5rem;
}

p {
    font-size: 1rem;
}

.container {
        width: min(90%, 75rem);
        margin: 0 auto;
}

.button {
    display: inline-block;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    background-color: var(--primary); /* Cambia el color según tu diseño */
    border: none;
    border-radius: 0.25rem;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: var(--primary-hover); /* Cambia el color según tu diseño */
}

.producers-features {
    font-family: var(--font-primary), serif;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
}

.producers-features__title {
    color: var(--secondary);
    font-weight: 600;
}

.producers-features__span {
    color: var(--primary);
    font-weight: 600;
}

.producers-features__item {
    display: flex;
    align-items: center; /* Alinea verticalmente los íconos y textos */
    gap: 1.5rem; /* Aumenta el gap para mejor separación */
    padding: 0.5rem 1rem; /* Agrega padding para espaciado interno */
    margin-bottom: 1rem; /* Agrega margen inferior para separar los elementos de la lista */
}

.producers-features__text-title {
    font-size: 1.75rem;
    color: var(--secondary);
}

.producers-features__sentence {
    color: var(--fontcolor);
}

.producers-features__aside-img {
    height: 100vh;
}

